<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sign Up</title>
  </head>
  <body>
    <form action="" method="post">
      <div class="">
        <input class="" type="text" name="username"
            autocomplete="username" placeholder="username">
      </div>

      <div class="">
        <input class="" type="password" name="password"
            autocomplete="current-password" placeholder="Password">
      </div>

      <button class="" type="submit">Sign Up</button>
      <input type="hidden" name="csrf_token" value="{{csrf_token}}">
    </form>
    {{#has_errors}}
    <div id="error" style="background-color: orange">
      Error: {{error}}
    </div>
    {{/has_errors}}

    {{> ../layouts/footer}}
  </body>
</html>